.outer {
  margin: 64px;
}

.slider {
  margin-bottom: 32px;
}

.slider label {
  display: flex;
  align-items: center;
}

.slider label span {
  margin-right: 16px;
}

.game {
  display: flex;
  flex-direction: row;
}
.gameBoard {
  margin-right: 64px;
}
.gameInfo {
  margin-left: 20px;
}